<li>
	{{burger_name}}

	
	{{#if devoured}}
	<button class="change-devour" data-id="{{id}}" data-newstatus="{{devoured}}">
		Devour it!
	</button>
	{{/if}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>